*/.DS_Store
**/dist
dist
lib
**/lib
.DS_Store
.idea
node_modules
publish
users.out
config/development.json
.random.json
example
test/sample/react-native-code-push
lerna-debug.log
npm-debug.log
*/npm-debug.log
.nyc_output
*/.nyc_output
