<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/assets/favicon.png" >
    <link href="/assets/style.css" rel="stylesheet">
    <title>Electrode OTA: <%-locals.title%></title>
</head>
<body>

<div class="fullscreen-bg">
    <video loop muted autoplay poster="/assets/background.jpg" class="fullscreen-bg__video">
        <source src="/assets/movie.mpg" type="video/mp4">
    </video>
</div>
<div class="container">
    <%-content%>
</div>

</body>
</html>
